@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600;700&family=Roboto:wght@400;700&display=swap');

header{
    background-color: blue;
    height: 100px;
  
}

.menu{
    text-align: center;
    margin: 700px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
  
}


.menu a.active{
   background-color: #00ccff;
}

body {
    background-image: url("../img/moon.jpg");
}
.blue-container{
    position: absolute;
    background-color: rgba(77, 185, 228);
    margin-top: 36%;
    background-position: top center;
    margin: 500px;

}

h1{
    text-align: center;
}

p{
    text-align: center;
}